# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# 构建输出
dist/
build/

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 编辑器
.idea/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# 日志
logs/
*.log

# 缓存
.cache/
.temp/

# 临时文件
*.tmp
*.bak

server/data/
server/data/presets.db
data/chats.db
data/presets.db
web/.vite/deps/_metadata.json
web/.vite/deps/@element-plus_icons-vue.js
web/.vite/deps/@element-plus_icons-vue.js.map
web/.vite/deps/@fortawesome_fontawesome-svg-core.js
web/.vite/deps/@fortawesome_fontawesome-svg-core.js.map
web/.vite/deps/@fortawesome_free-solid-svg-icons.js
web/.vite/deps/@fortawesome_free-solid-svg-icons.js.map
web/.vite/deps/@fortawesome_vue-fontawesome.js
web/.vite/deps/@fortawesome_vue-fontawesome.js.map
web/.vite/deps/axios.js
web/.vite/deps/axios.js.map
web/.vite/deps/chunk-4SZQWLF3.js
web/.vite/deps/chunk-4SZQWLF3.js.map
web/.vite/deps/chunk-5HSVSM6E.js
web/.vite/deps/chunk-5HSVSM6E.js.map
web/.vite/deps/chunk-7MXM7D6T.js
web/.vite/deps/chunk-7MXM7D6T.js.map
web/.vite/deps/chunk-MRXSGDIQ.js
web/.vite/deps/chunk-MRXSGDIQ.js.map
web/.vite/deps/chunk-UNZ52MUH.js
web/.vite/deps/chunk-UNZ52MUH.js.map
web/.vite/deps/chunk-ZS7NZCD4.js
web/.vite/deps/chunk-ZS7NZCD4.js.map
web/.vite/deps/element-plus.js
web/.vite/deps/element-plus.js.map
web/.vite/deps/package.json
web/.vite/deps/pinia.js
web/.vite/deps/pinia.js.map
web/.vite/deps/vue-router.js
web/.vite/deps/vue-router.js.map
web/.vite/deps/vue.js
web/.vite/deps/vue.js.map
web/.vite/deps_temp_331541fb/@element-plus_icons-vue.js
web/.vite/deps_temp_331541fb/@element-plus_icons-vue.js.map
web/.vite/deps_temp_331541fb/@fortawesome_fontawesome-svg-core.js
web/.vite/deps_temp_331541fb/@fortawesome_fontawesome-svg-core.js.map
web/.vite/deps_temp_331541fb/@fortawesome_free-solid-svg-icons.js
web/.vite/deps_temp_331541fb/@fortawesome_free-solid-svg-icons.js.map
web/.vite/deps_temp_331541fb/@fortawesome_vue-fontawesome.js
web/.vite/deps_temp_331541fb/@fortawesome_vue-fontawesome.js.map
web/.vite/deps_temp_331541fb/axios.js
web/.vite/deps_temp_331541fb/axios.js.map
web/.vite/deps_temp_331541fb/chunk-4SZQWLF3.js
web/.vite/deps_temp_331541fb/chunk-4SZQWLF3.js.map
web/.vite/deps_temp_331541fb/chunk-5HSVSM6E.js
web/.vite/deps_temp_331541fb/chunk-5HSVSM6E.js.map
web/.vite/deps_temp_331541fb/chunk-7MXM7D6T.js
web/.vite/deps_temp_331541fb/chunk-7MXM7D6T.js.map
web/.vite/deps_temp_331541fb/chunk-MRXSGDIQ.js
web/.vite/deps_temp_331541fb/chunk-MRXSGDIQ.js.map
web/.vite/deps_temp_331541fb/chunk-UNZ52MUH.js
web/.vite/deps_temp_331541fb/chunk-UNZ52MUH.js.map
web/.vite/deps_temp_331541fb/chunk-ZS7NZCD4.js
web/.vite/deps_temp_331541fb/chunk-ZS7NZCD4.js.map
web/.vite/deps_temp_331541fb/element-plus.js
web/.vite/deps_temp_331541fb/element-plus.js.map
web/.vite/deps_temp_331541fb/package.json
web/.vite/deps_temp_331541fb/pinia.js
web/.vite/deps_temp_331541fb/pinia.js.map
web/.vite/deps_temp_331541fb/vue-router.js
web/.vite/deps_temp_331541fb/vue-router.js.map
web/.vite/deps_temp_331541fb/vue.js
web/.vite/deps_temp_331541fb/vue.js.map
web/.vite/deps_temp_5922e524/@element-plus_icons-vue.js
web/.vite/deps_temp_5922e524/@element-plus_icons-vue.js.map
web/.vite/deps_temp_5922e524/@fortawesome_fontawesome-svg-core.js
web/.vite/deps_temp_5922e524/@fortawesome_fontawesome-svg-core.js.map
web/.vite/deps_temp_5922e524/@fortawesome_free-solid-svg-icons.js
web/.vite/deps_temp_5922e524/@fortawesome_free-solid-svg-icons.js.map
web/.vite/deps_temp_5922e524/@fortawesome_vue-fontawesome.js
web/.vite/deps_temp_5922e524/@fortawesome_vue-fontawesome.js.map
web/.vite/deps_temp_5922e524/axios.js
web/.vite/deps_temp_5922e524/axios.js.map
web/.vite/deps_temp_5922e524/chunk-4SZQWLF3.js
web/.vite/deps_temp_5922e524/chunk-4SZQWLF3.js.map
web/.vite/deps_temp_5922e524/chunk-5HSVSM6E.js
web/.vite/deps_temp_5922e524/chunk-5HSVSM6E.js.map
web/.vite/deps_temp_5922e524/chunk-7MXM7D6T.js
web/.vite/deps_temp_5922e524/chunk-7MXM7D6T.js.map
web/.vite/deps_temp_5922e524/chunk-MRXSGDIQ.js
web/.vite/deps_temp_5922e524/chunk-MRXSGDIQ.js.map
web/.vite/deps_temp_5922e524/chunk-UNZ52MUH.js
web/.vite/deps_temp_5922e524/chunk-UNZ52MUH.js.map
web/.vite/deps_temp_5922e524/chunk-ZS7NZCD4.js
web/.vite/deps_temp_5922e524/chunk-ZS7NZCD4.js.map
web/.vite/deps_temp_5922e524/element-plus.js
web/.vite/deps_temp_5922e524/element-plus.js.map
web/.vite/deps_temp_5922e524/package.json
web/.vite/deps_temp_5922e524/pinia.js
web/.vite/deps_temp_5922e524/pinia.js.map
web/.vite/deps_temp_5922e524/vue-router.js
web/.vite/deps_temp_5922e524/vue-router.js.map
web/.vite/deps_temp_5922e524/vue.js
web/.vite/deps_temp_5922e524/vue.js.map
web/.vite/deps_temp_c193f07d/@element-plus_icons-vue.js
web/.vite/deps_temp_c193f07d/@element-plus_icons-vue.js.map
web/.vite/deps_temp_c193f07d/@fortawesome_fontawesome-svg-core.js.map
web/.vite/deps_temp_c193f07d/@fortawesome_free-solid-svg-icons.js
web/.vite/deps_temp_c193f07d/@fortawesome_free-solid-svg-icons.js.map
web/.vite/deps_temp_c193f07d/@fortawesome_vue-fontawesome.js.map
web/.vite/deps_temp_c193f07d/axios.js.map
web/.vite/deps_temp_c193f07d/chunk-4SZQWLF3.js.map
web/.vite/deps_temp_c193f07d/chunk-5HSVSM6E.js.map
web/.vite/deps_temp_c193f07d/chunk-MRXSGDIQ.js.map
web/.vite/deps_temp_c193f07d/chunk-UNZ52MUH.js
web/.vite/deps_temp_c193f07d/chunk-UNZ52MUH.js.map
web/.vite/deps_temp_c193f07d/element-plus.js.map
web/.vite/deps_temp_c193f07d/package.json
web/.vite/deps_temp_c193f07d/pinia.js.map
web/.vite/deps_temp_c193f07d/vue-router.js
web/.vite/deps_temp_c193f07d/vue-router.js.map
web/.vite/deps_temp_c193f07d/vue.js
web/.vite/deps_temp_c193f07d/vue.js.map
